{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": false,
	"trailingComma": "es5",
	"printWidth": 100,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"overrides": [
		{
			"files": ["*.json", "*.yaml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
