@use "./common-variables.scss" as *;

.form-text{
	color: $text-form-color;
}

.form-button{
	border-radius: 12px;
	margin-top: 1rem;
	width: 50%;
	margin-left: auto;
	margin-right: auto
}

.img-avatar{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
	border: 3px solid transparent;
	background-color: rgb(92, 156, 185);
	&.selected{
		border: 4px solid white;
	}
}
.error-message{
	background-color: $background-common-color;
	color:red;
	border: 2px solid red;
	text-align: center;
	width: 45%;
	margin: auto;
}
.google-button{
	background-color: white;
	border-radius: 20px;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.github-button {
    background-color: #24292e;
    color: white;
    border-radius: 20px;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.fourty-two-button{
	background-color: #24292e;
    color: white;
    border-radius: 20px;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}
.form-input{
	background-color:	white;
	width:				45%;
	border-radius:		12px;
	border:				2px solid black;
}
