@use "./common-variables.scss" as *;

.form-text{
	color: $text-form-color;
}

.form-button{
	border-radius: 12px;
	// margin-top: 1rem;
	width: 30%;
	margin-left: auto;
	margin-right: auto
}

.img-avatar-completeProfile{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
	border: 3px solid transparent;
	background-color: rgb(92, 156, 185);
	&.selected{
		border: 4px solid white;
	}
}
.error-message{
	background-color: $background-common-color;
	color:red;
	border: 2px solid red;
	text-align: center;
	width: 80%;
	margin: auto;
}
.google-button{
	background-color: white;
	border-radius: 20px;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.github-button {
    background-color: #24292e;
    color: white;
    border-radius: 20px;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.fourty-two-button{
	background-color: #24292e;
    color: white;
    border-radius: 20px;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.google-min-button{
	background-color: white;
	border-radius: 20px;
	width: 40px;
	margin-left: auto;
	margin-right: auto;
}

.github-min-button {
    background-color: #24292e;
    color: white;
    border-radius: 20px;
	width: 40px;
	margin-left: auto;
	margin-right: auto;
}

.fourty-two-min-button{
	background-color: #24292e;
    color: white;
    border-radius: 20px;
	width: 40px;
	margin-left: auto;
	margin-right: auto;
}

.form-input{
	background-color:	white;
	border-radius:		12px;
	border:				2px solid black;
}
.common-head {
	background-color: $background-common-color;
	text-align: center;
	color: white;
    .dropdown-menu {
        background-color: transparent;
        border: none; // optionnel, si tu veux aussi virer la bordure blanche par défaut
    }
    .dropdown-menu .btn {
        width: 30%;
    }
}
.header-btn{
	border: 0px solid white;
	border-radius: 10px;
	background-color: $background-common-color;
	&:hover{
		background-color: rgb(3, 42, 100);
		border: 0px solid white;
	}
}

.lang-btn {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
    outline: none !important;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lang-btn:hover,
.lang-btn:focus {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.lang-icon {
    width: 30px !important;
    height: 30px !important;
    object-fit: contain;
	margin: 10px;
}

.dropdown-toggle {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.complete-profile-div{
	border: 1px solid white;
	width: 100%;
	border-radius: 12px;
}

