// Colors
$background-common-color: rgb(5, 22, 48);
$navy-hover: rgb(3, 42, 100);
$avatar-bg: rgb(92,156,185);
$green-color: green;
$red-color:red;
$connected-user-color: yellowgreen;
$text-form-color: white;

// Border rad
$radius-sm: 12px;
$radius-md: 20px;
$radius-pill: 25px;
$radius-lg: 30px;

@mixin bordered-btn($border-color, $background-color){
	border: 2px solid $border-color;
	border-radius: $radius-pill;
	background-color: $background-color;
	color: $border-color;
	&:hover{
		border: 2px solid $background-color;
		background-color: $border-color;
		color: $background-color;
	}
}