.message-right{
    border: 1px solid black;
    margin: 3%;
    padding: 2%;
    justify-items: right;

}
.message-left{
    border: 1px solid black;
    margin: 3%;
    padding: 2%;
    justify-items: left;
}
.chat-header{
    text-align: center;
    width: 100%;
    border: 1px solid black;
}

.send-message{
    display: block;
    width: 20%;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
}

.message-area{
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

