@use "./common-variables.scss" as *;


.update-main-div{
    text-align: center;
    border-radius: 20px;
    color:white;
    padding: 1%;
    background-color:$background-common-color;
    width: 70%;
    margin: auto;
}

.parameters-form{
    border: 3px solid white;
    padding: 6%;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    background-color: rgb(3, 42, 100);

}

.update-input{
	background-color:	white;
	border-radius:		12px;
	border:				2px solid black;
}

.update-button{
    width: 70%;
    align-items: center;
}

.danger-zone{
    border: 3px solid red;
    color: red;
    background-color: $background-common-color;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    min-height: 200px;
    padding: 1rem 0;
    align-items: center;
    &:hover{
        background-color: red;
        color: white;
        border: 3px solid white;
    }
    .update-button{
        background-color: red;
        border: 3px solid white;
        margin: 1%;
        &:hover{
            background-color: white;
            color: red;
        }
    }
}
