@use "./common-variables.scss" as *;

.img-avatar-profilePage{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid greenyellow;
	background-color: rgb(92, 156, 185);
    cursor: pointer;
    &:hover{
        transform: scale(1.1,1.1);
    }
}

.lang-choice{
    color: white;
    position: relative;
    margin: 5%;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease;
    }
    &:hover::after {
        width: 100%;
    }
}

.profile-page-header{
    background-color: $background-common-color;
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 1%;   
}

.pp-icons-header{
    width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid transparent;
    cursor: pointer;
    &:hover{
        transform: scale(1.5,1.5);
    }
    position: relative;
    &::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 120%;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.2s;
    }

    &:hover::after {
        opacity: 1;
    }
}
