@use "./common-variables.scss" as *;

.register-form{
	background-color:	$background-common-color;
	width:				50%;
	padding:			2rem;
	border-radius:		12px;
	border:				2px solid black;
}

.register-text{
	color: $text-form-color;
}

.register-button{
	border-radius: 12px;
	margin-top: 1rem;
	width: 50%;
	margin-left: auto;
	margin-right: auto
}

.register-title{
	color: $text-form-color;
	text-align: center;
}